# Object files
*.o
*.ko
*.obj
*.OBJ
*.elf

# Precompiled Headers
*.gch
*.pch
*.LST
*.Opt
*.M51
*.plg
*.lnp
*.LST

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

*.Bak

# Special
ccl
inipw
cclk